!!! 5
%html
  %head
    %title DevOpsDays India
    %meta{:charset => "utf-8"}
    %meta{:content => "DevOpsDays India 2016", :name => "description"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    = stylesheet_link_tag 'style.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'

  %body
    = navbar fixed: :top, id: "devopsdays-menu" do
      = navbar_header
      = navbar_collapse do
        = navbar_group class: 'foo', id: 'menu', align: 'right' do
          = navbar_item "Home", '/'
          = navbar_item "CFP", 'https://www.papercall.io/devopsdays-india-2016'
          = navbar_item "Venue", '/#venue'
          = navbar_item "Get in Touch", '/#contact-us'
          = navbar_item "Code of Conduct", '/coc'
          = navbar_item "FAQ", '/faq'
    = yield
    = render_partial 'footer'
    = javascript_include_tag "main"
